html {
    scroll-behavior: smooth;
}
* {
    overflow-x: hidden;
}
body{
    background-color: #fffcd6;
    margin:0;
}
main {
    display: flex;
    background-color: #1B80BF;
    padding: 40px;
    margin: 0 auto;
}
main h2{
    font-family: "Julius Sans One", sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}
main p{
    font-family: "Julius Sans One", sans-serif;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20%;
    margin-top: 20px;
}
main img{
    width: 400px;
    height: 300px;
    margin-right: 1200px;
    border: solid 4px #76D930;
    border-radius: 10px;
    align-items: flex-end;
}
section{
    background-color: #1B80BF;
}